/* Split the screen in half */
#loginpromt{
  height: 300px;
  width: 400px;
  z-index: 2;
  background-color: #fff;
  position: fixed;
  left:37%;
  top:30%;
  border:3px solid black;
  border-radius:10px;
  display: inline;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #B2F3FF;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #E6FFB2;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#headpt1{
  float:right;
  margin-right:10px;
  color: #E6FFB2;
  text-shadow:1.5px 0px #000000;
  font-size:3em;
}

#headpt2{
  float:left;
  margin-left:10px;
  color: #B2F3FF;
  text-shadow:1.5px 0px #000000;
  font-size:3em;
}

.question{
  font-size:20px;
}

#button{
  width:200px;
  background-color:white;
  border-color:#E6FFB2;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top:20px;
}

#button:hover{
  background-color:#E6FFB2;
}

#my-list{
  width:430px;
  height:470px;
  overflow: auto;
  text-align:left;
  list-style-type: circle;
}

body{
  font-family: Helvetica, Arial, Sans-Serif;
}

#textbox{
  border-color:#E6FFB2;
  border-width:5px;
  border-radius:10px;
  outline:none;
}

#namebox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:10px;
  outline:none;
}

#agebox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:10px;
  outline:none;
}

#datebox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:10px;
  outline:none;
}

#tenbox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:10px;
  outline:none;
}

#EditBtn{
  background-color:white;
  border-color:#B2F3FF;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#EditBtn:hover{
  background-color:#B2F3FF;
}

#DelBtn{
  background-color:white;
  border-color:#B2F3FF;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#DelBtn:hover{
  background-color:#B2F3FF;
}

#CurrentPost{
  font-size:15px;
}

#ex_emailbox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display: inline;
}

#ex_passwordbox{
  border-color:#B2F3FF;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display: inline;
}

#ex_loginbutton{
  margin-top:10px;
  background-color:white;
  border-color:#E6FFB2;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline:none;
  display: inline;
}

#Emailtxt{
  display: inline;
}

#Passwordtxt{
  display: inline;
}

#re_registerbutton1{
  margin-top:10px;
  background-color:white;
  border-color:#B2F3FF;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline:none;
  display: inline;
}

#re_registerbutton2{
  margin-top:10px;
  background-color:white;
  border-color:#B2F3FF;
  border-radius:10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline:none;
  display: none;
}

#re_emailbox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display: none;
}

#re_passwordbox1{
  border-color:#B2F3FF;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display: none;
}

#re_passwordbox2{
  border-color:#B2F3FF;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display: none;
}

#PasswordRetypetxt{
  margin-bottom:1px;
  display: none;
}

#firstnametxt{
  display: none;
}

#lastnametxt{
  display:none;
}

#re_firstnamebox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display:none;
}

#re_lastnamebox{
  border-color:#E6FFB2;
  border-width:2px;
  border-radius:5px;
  outline:none;
  display:none;
}